@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta pagina es un proyecto educativo del modulo "Integración de aplicaciones con frameworks de persistencia" de la especialización en bases de datos de la universidad pedagógica y tecnológica de Colombia</p>
