@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta pagina es un proyecto educativo del modulo "Integración de aplicaciones con Frameworks de Persistencia" de la especialización en Bases de Datos de la Universidad Pedagógica y Tecnológica de Colombia</p>
