@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Marilyn Astrid Chaparro Hurtado</strong>
    <p> marilyn.chaparro@tesamerica.com.co</p>
    <br />
    <strong>Juan Carlos Valderrama Camargo</strong> 
    <p>juan.valderrama@tesamerica.com.co</p>
</address>