@model Proyectotransmilenio.Models.vistaEquiposLaicon
@{
    ViewBag.Title = "Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Laicon", "CargarDatos", FormMethod.Post, new { enctype = "multipart/form-data", id = "formulario", name = "formulario" }))
{
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cargar Datos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         Herramienta para cargar datos
                    </div>
                    <div class="panel-body">
                        @if (@TempData.ContainsKey("Mensaje"))
                        {
                            <Script>
                                alert('@(TempData["Mensaje"])');
                            </Script>
                        }
                        <div class="row" style="padding-left:10px">
                            <div class="col-md-4">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>
                        <div class="row" style="padding:10px">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-default">Cargar</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        *Archivo .xlsx para ingrasar datos a la tabla "VIAS"
                    </div>
                </div>
            </div>
        </div>
}
    <script>
        $(document).ready(function () {
            $("#cargarLaicon").click(function () {
                $.get('/Proyectotransmilenio/CargarDatos/cargarLaicon', function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal({});
                });
                $("#btnCerrarModal").click(function () {
                    $('#myModal').modal('hide');
                });
            });
        });
    </script>

