@model Proyectotransmilenio.Models.VIA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar esta vía?</h3>
<div>
    <h4>VIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            NOMBRE VÍA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_VIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
